<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Circle of Caring</title>
    <script src="temp.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Lato|Open+Sans|Oswald" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" href="main.css">

  </head>
  <body>
  	
  	<div id="content" class="form-group">
  		<h1>Register as a Volunteer</h1>
  		<label for="fName">First Name: </label><input type="text" id="fName" class="form-control"> <br />
  		<label for="lName">Last Name: </label><input type="text" id="lName" class="form-control"> <br />
  		<label for="dob">DOB: </label><input type="date" id="dob" class="form-control"> <br />
  		<label for="phone">Phone Number: </label><input type="text" id="phone" maxlength="12" class="form-control"> <br />
  		<label for="email">Email: </label><input type="text" id="email" class="form-control"> <br />
  		<label for="address">Street Addess: </label><input type="text" id="address" class="form-control"> <br />
  		<label for="city">City: </label><input type="text" id="city" class="form-control"> <br />
  		<label for="state">State: </label>
  		<select id="state" class="form-control">
  			<option>Choose your state...</option>
			<option value="Alabama, AL">Alabama</option>
			<option value="Alaska, AK">Alaska</option>
			<option value="Arizona, AZ">Arizona</option>
			<option value="Arkansas, AR">Arkansas</option>
			<option value="California, CA">California</option>
			<option value="Colorado, CO">Colorado</option>
			<option value="Connecticut, CT">Connecticut</option>
			<option value="Delaware, DE">Delaware</option>
			<option value="District Of Columbia, DC">District Of Columbia</option>
			<option value="Florida, FL">Florida</option>
			<option value="Georgia, GA">Georgia</option>
			<option value="Hawaii, HI">Hawaii</option>
			<option value="Idaho, ID">Idaho</option>
			<option value="Illinois, IL">Illinois</option>
			<option value="Indiana, IN">Indiana</option>
			<option value="Iowa, IA">Iowa</option>
			<option value="Kansas, KS">Kansas</option>
			<option value="Kentucky, KY">Kentucky</option>
			<option value="Louisiana, LA">Louisiana</option>
			<option value="Maine, ME">Maine</option>
			<option value="Maryland, MD">Maryland</option>
			<option value="Massachusetts, MA">Massachusetts</option>
			<option value="Michigan, MI">Michigan</option>
			<option value="Minnesota, MN">Minnesota</option>
			<option value="Mississippi, MS">Mississippi</option>
			<option value="Missouri, MO">Missouri</option>
			<option value="Montana, MT">Montana</option>
			<option value="Nebraska, NE">Nebraska</option>
			<option value="Nevada, NV">Nevada</option>
			<option value="New Hampshire, NH">New Hampshire</option>
			<option value="New Jersey, NJ">New Jersey</option>
			<option value="New Mexico, NM">New Mexico</option>
			<option value="New York, NY">New York</option>
			<option value="North Carolina, NC">North Carolina</option>
			<option value="North Dakota, ND">North Dakota</option>
			<option value="Ohio, OH">Ohio</option>
			<option value="Oklahoma, OK">Oklahoma</option>
			<option value="Oregon, OR">Oregon</option>
			<option value="Pennsylvania, PA">Pennsylvania</option>
			<option value="Rhode Island, RI">Rhode Island</option>
			<option value="South Carolina, SC">South Carolina</option>
			<option value="South Dakota, SD">South Dakota</option>
			<option value="Tennessee, TN">Tennessee</option>
			<option value="Texas, TX">Texas</option>
			<option value="Utah, UT">Utah</option>
			<option value="Vermont, VT">Vermont</option>
			<option value="Virginia, VA">Virginia</option>
			<option value="Washington, WA">Washington</option>
			<option value="West Virginia, WV">West Virginia</option>
			<option value="Wisconsin, WI">Wisconsin</option>
			<option value="Wyoming, WY">Wyoming</option>
		</select>
		<br />
		<label for="zip">Zip Code: </label><input type="text" id="zip" class="form-control"> <br />
  		<label for="startDate">Start Date: </label><input type="date" id="startDate" class="form-control"> <br />
  		<button class="form-control">Register!</button>
		

    </div>
  </body>
</html>














